

<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
       
    </head>
    <body>
        <header th:replace="gamer/gamer :: header" />
        <h2>gestion de Garmer</h2>
        <a th:href="@{/nuevo gamer}">Nuevo cliente</a>
        <div th:if="{gamer != null and !gamers.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>correo</th>
                    <th>telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr th:text="gamer : ${cliente}">
                    <td th:text="${gamer.nombre}"></td>
                    <td th:text="${gamer.apellido}"></td>
                    <td th:text="${gamer.correo}"></td>
                    <td th:text="${gamer.telefono}"></td>
                </tr>
                
                  <tr th:text="gamer : ${gamer}">
                    <td th:text="${gamer.nombre}"></td>
                    <td th:text="${gamer.apellido}"></td>
                    <td th:text="${gamer.correo}"></td>
                    <td th:text="${gamer.telefono}"></td>
                    <td><a th:href="@{modificarGamer/} + ${gamer.idCGamer}">Modificar</a></td>
                    <td><a th:href="@{eliminargamer/} + ${gamer.idGamer}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
            
</div>
        <div th:if="${gamer == null or gamer empty}">
        </div>
  
         <footer th:replace="plantilla/plantilla :: footer" />
        
    </body>
</html>
