*{
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif;
    padding: 70px 10px 0;
}

.nav {
    background-color: #076AFO;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.nav-link {
    display: flex;
    justify-content: space-between;
    max-width: 990px;
    margin: 0 auto;
}

.header{
    color: black;
    text-indent: 30px;
}

.ASD{
    font-size: 30px;
    font-weight: bolder;
    padding: 0;
    line-height: 60px;
}

.nav-menu {
    display: flex;
    margin-right: 30px;
    list-style: none;
}

.nav-menu-link {
    font-size: 10px;
    margin: 0 9px;
    line-height: 60px;
    width: max-content;
    
}

.nav-link-menu:hover {
    padding: 7px 10px;
    border-radius: 2px;
}
